---
import LayoutSidebar from '@layouts/LayoutSidebar.astro';
import SharingBrowser from '@components/item/SharingBrowser.vue';

// We can safely cast this as we know that middleware would have already checked for a valid user
const user = Astro.locals.user as User;
---

<LayoutSidebar user={user}>
	<div class="h-screen">
		<SharingBrowser client:only />
	</div>
</LayoutSidebar>
