---
import { asset } from '@lib/helpers';
import { t } from '@lib/i18n';
---

<div
	class="pt:mt-0 mx-auto flex w-full flex-col items-center justify-center px-6 pt-8 dark:bg-gray-900"
>
	<a
		href="#"
		class="mb-8 flex items-center justify-center text-2xl font-semibold dark:text-white lg:mb-10"
	>
		<img src={asset('images/logo_name.svg')} alt="Logo" class="mr-4 h-11" />
	</a>
	<!-- Card -->
	<div class="w-full rounded-lg bg-white shadow dark:bg-gray-800 sm:max-w-md md:mt-0 xl:p-0">
		<div class="w-full p-6 sm:p-8">
			<h2 class="mb-3 text-2xl font-bold text-gray-900 dark:text-white">
				{t('auth.forgotPassword.header', Astro.locals.currentLocale)}
			</h2>
			<p class="text-base font-normal text-gray-500 dark:text-gray-400">
				{t('auth.forgotPassword.description', Astro.locals.currentLocale)}
			</p>
			<form class="mt-8 space-y-6" action="#">
				<div>
					<label for="email" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
						>{t('auth.field.email', Astro.locals.currentLocale)}</label
					>
					<input
						type="email"
						name="email"
						id="email"
						class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500 sm:text-sm"
						placeholder={t('auth.field.emailPlaceholder', Astro.locals.currentLocale)}
						required
					/>
				</div>
				<button
					type="submit"
					class="w-full rounded-lg bg-primary-700 px-5 py-3 text-center text-base font-medium text-white hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 sm:w-auto"
					>{t('auth.forgotPassword.submit', Astro.locals.currentLocale)}</button
				>
			</form>
		</div>
	</div>
</div>
